@import url(./assets/css/header.css);
@import url(./assets/css/main.css);
@import url(./assets/css/footer.css);

:root {
    --transicao: ease-out .16s;
}

.light {
    --azul: #023E8A;
    --azulHover: #0077B6;
    --background: #F8F9FA;
}

.dark {
    --azul: #CAF0F8;
    --azulHover: #00B4D8;
    --background: #212529;
}

body {
    font-family: 'Poppins', sans-serif;

    height: 100vh;
    width: 100vw;

    background: var(--background);

    transition: var(--transicao);
}